* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    border: 5px #000 solid;
    padding: 50px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    height: 50px;
}

.color-orange {
    background-color: orange;
}

.color-orangered {
    background-color: orangered;
}

.color-yellow {
    background-color: gold;
}

.color-brown {
    background-color: brown;
}

.color-pink {
    background-color: pink;
}

.color-black {
    background-color: #000;
}